{erl_opts, [debug_info,{i,"include"},{i,"/home/joq62/erlang/infra/api_repo"}]}.

{deps, [
       ADD_DEPENDENCIES

       {log_provider,{git,"https://github.com/joq62/log_provider.git", {branch,"main"}}},	       
       {common,{git,"https://github.com/joq62/common.git", {branch,"main"}}},		
       {sd,{git,"https://github.com/joq62/sd.git",{branch,"main"}}}
       						   
       ]}.

{relx, [{release, {TO_BE_CHANGED, "0.1.0"},
         [
	  common,	
	  sd,
	  ADD_PROVIDER,
	  ADD_OTHER_APPLICATIONS,
	  sasl]},

        {sys_config, "./config/dev_sys.config"},
        {vm_args, "./config/dev_vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{shell, [{apps, [common,sd, ADD_PROVIDER, ADD_OTHER_APPLICATIONS]},	
         {env_file, "deployment/base/default.env"}]}.
%% {dist_node, [{name, 'kube@127.0.0.1'}]}.

{profiles, [{prod, [{relx, [{sys_config_src, "./config/sys.config"},
                            {vm_args_src, "./config/vm.args"},

                            {dev_mode, false},
                            {include_src, false},
                            {include_erts, true},
                            {debug_info, strip}]}]},
            {tilt, [{relx, [{sys_config_src, "./config/sys.config"},
                            {vm_args_src, "./config/vm.args"}]}]},
            {test, [{erl_opts, [nowarn_export_all]},
                    {deps, [docker_compose_cth]}]}]
}.

{project_plugins, [covertool, grpcbox_plugin]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.


{ct_opts, [{sys_config, "config/test.config"},
           %% generate junit xml report from test results
           {ct_hooks, [cth_surefire]}]}.

{overrides, [{override, base32, [{plugins, []}]}]}.

{xref_checks,[undefined_function_calls, undefined_functions, %% locals_not_used,
              deprecated_function_calls, deprecated_functions]}.

